<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <style>
        .footer {
            display: flex;
            width: 100%;
            background-color: #444444;
            padding-bottom: 50px !important;
        }
        input:focus {
            outline: none;
        }
    </style>
</head>
<body>
    <div class="page-container">
        <div class="header col-12 row">
            <div class="logo col-md-3">
                <img class="logo" src="~/public/logo4.png" alt="">
            </div>
            <div class="search-box col-md-6 ">
                <div class="p-1 bg-light border border-dark shadow-sm">
                    <form action="/Search/Search?category=all&nation=all&page=1" method="post" class="row ">
                        <div class="input-group col-md-11">
                            <input type="search" name="keyword" id="search-box" placeholder="Tìm kiếm theo tên phim, đạo diễn, ..." aria-describedby="button-addon1" class="form-control border-0 bg-light">

                        </div>
                        <div class="input-group-append col-md-1 ">
                            <button id="button-addon1" type="submit" class="btn btn-link text-primary"><i class="fa fa-search"></i></button>
                        </div>
                    </form>
                </div>
            </div>
            @if (ViewBag.index == 1)
            {
                <div class="auth col-md-3 col-sm-6 d-flex justify-content-end align-items-center">

                    <span class="mx-2">Xin chào @ViewBag.name</span>
                    <span class="mx-2">|</span>

                    <div class="dropdown">
                        <a class="btn dropdown-toggle nav-link" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-user"> </i>
                        </a>
                        <div class="dropdown-menu " aria-labelledby="dropdownMenuButton" id="drop2">
                            <a class="dropdown-item text-uppercase text-light" href="/User/UserInfo?id=@ViewBag.userid">Thông tin <i class="fas fa-info ml-2"></i></a>
                            <a class="dropdown-item text-uppercase text-light" href="/User/Logout">Đăng xuất <i class="fa fa-sign-out ml-2" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
            }
            else
            {
                <div class="auth col-md-3 col-sm-6 d-flex justify-content-end align-items-center">
                    <button onclick="show(1)" type="button">Đăng nhập</button>
                    <span class="mx-2">|</span>
                    <button onclick="show(2)" type="button">Đăng ký</button>
                </div>
            }
        </div>
        <nav class="navbar navbar-expand-md  sticky-top  justify-content-end">
            <div class="container-fluid justify-content-end float-right">
                <button class="navbar-toggler mr-0 bg-light" type="button" data-toggle="collapse"
                        data-target="#navbarResponsive1" id="coll">
                    <div class="navbar-toggler-icon"><i class="fa fa-reorder mt-1"></i></div>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive1">
                    <ul class="navbar navbar-expand-md">
                        <li class="navbar-item">
                            <a class="nav-link" href="/Homepage" onclick="redirect('homepage')">TRANG CHỦ</a>
                        </li>
                        <li class="navbar-item">
                            <div class="dropdown">
                                <a class="btn dropdown-toggle nav-link" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    PHIM
                                </a>
                                <div class="dropdown-menu float-left" aria-labelledby="dropdownMenuButton" id="drop1">
                                    <a class="dropdown-item" href="/Movie/MovieCurrent">PHIM ĐANG CHIẾU</a>
                                    <a class="dropdown-item" href="/Movie/MovieFuture">PHIM SẮP CHIẾU</a>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Cinema/Cinema?location=none&cinemaname=none&change=none" id="a-rap">ĐẶT VÉ THEO RẠP</a>
                        </li>
                        <li class="nav-item">
                            <div class="dropdown">
                                <a class="btn dropdown-toggle nav-link" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    GÓC ĐIỆN ẢNH
                                </a>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" id="drop2">
                                    <a class="dropdown-item " href="/Cinematic/Review?page=1">BÌNH LUẬN PHIM</a>
                                    <a class="dropdown-item " href="/Cinematic/Blog?page=1">BLOG ĐIỆN ẢNH</a>
                                    <a class="dropdown-item " href="/Cinematic/Sale">TIN KHUYẾN MÃI</a>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Instruction/Instruction?id=1" onclick="redirect('thongtin')">HƯỚNG DẪN</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div>
            @RenderBody()
        </div>
        <footer>
            <div class="footer justify-content-center mt-5">
                <div class="footer-container row ml-0">
                    <div class="col-md-3 col-sm-12">
                        <div class="footer-title">OREGON VIỆT NAM</div>
                        <ul class="footer-list">
                            <li><a href="/Instruction/Instruction?id=1" onclick="">F.A.Q</a></li>
                            <li><a href="/Instruction/Instruction?id=2" onclick="redirect('thongtin')">GÓP Ý</a></li>
                            <li><a href="/Instruction/Instruction?id=3" onclick="redirect('thongtin')">TUYỂN DỤNG</a></li>
                            <li><a href="/Instruction/Instruction?id=4" onclick="redirect('thongtin')">ĐIỀU KHOẢN SỬ DỤNG</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3 col-sm-12">
                        <div class="footer-title">GÓC ĐIỆN ẢNH</div>
                        <ul class="footer-list">
                            <li><a href="/Cinematic/Review?page=1">BÌNH LUẬN PHIM</a></li>
                            <li><a href="/Cinematic/Blog?page=1">BLOG ĐIỆN ẢNH</a></li>
                            <li><a href="/Cinematic/Sale">TIN KHUYẾN MÃI</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3 col-sm-12">
                        <div class="footer-title">KẾT NỐI VỚI CHÚNG TÔI</div>
                        <div class="social">
                            <ul class="social-list">
                                <li><a href="https://facebook.com"><i class="fab fa-facebook-square" aria-hidden="true"></i></a></li>
                                <li><a href="https://youtube.com"><i class="fab fa-youtube" aria-hidden="true"></i></a></li>
                                <li><a href="https://instagram.com"><i class="fab fa-instagram" aria-hidden="true"></i></a></li>
                                <li><a href="https://github.com"><i class="fab fa-github" aria-hidden="true"></i></a></li>
                                <li><a href="/Admin/Admin/Homepage"><i class="fa fa-key" aria-hidden="true"></i></a></li>
                            </ul>
                            <img src="~/public/bct.png" alt="">
                        </div>

                    </div>
                    <div class="contact-us col-md-3 col-sm-12">
                        <div class="footer-title">LIÊN HỆ</div>
                        <h5>CÔNG TY CP OREGON ARENA</h5>
                        <p>Giấy chứng nhận ĐKKD số: 01061210042</p>
                        <p>Tầng 5, S11, đường Hoàng Quốc Việt, phường Cổ Nhuế 1, quận Bắc Từ Liêm, TP. Hà Nội </p>
                        <h6>LIÊN HỆ HỢP TÁC KINH DOANH</h6>
                        <p>salesdepartment@oregon.com</p>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <div class="modal fade" id="auth-modal" role="dialog">

    </div>
    <!--<link rel="stylesheet" href="~/Content/bootstrap.min.css">

    <script src="~/Scripts/jquery-3.4.1.slim.min.js"></script>-->
    @*<script src="popper.min.js"></script>
        <script src="~/Scripts/bootstrap.min.js"></script>*@

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
    <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link rel="stylesheet" href="~/fonts/font-awesome-4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="~/Content/Homepage.css">

    <script>
        var x;
        function show(id) {
            //$('#sp_search').css.display = 'block';
            $.get('/User/Register', { index: id }, function (data) {
                x = data;
                $('#auth-modal').html(x);
                $('#auth-modal').modal('show');
                // Example:
            });
        }
    </script>
</body>
</html>
